/* *{outline:1px red solid;} */
.all{
    max-width:100vw;
    margin:auto;
}
.coverpic{
    width:100vw;
    height: 100vh;
    background-image: url(../images/coverpic.jpg);
    background-position: center;
    background-size: cover;  
    display: flex;
}
.left{
    width:50vw;
}
.logo{
    margin-left: 54px;
    margin-top: 47px;
}
.roomnum{
    position: relative;
}
.num{
    font-size: 66px;
    color: #ffffff;
    margin-top: 392px;
    margin-left: 72px;
    margin-bottom: 30px;
}
.roomnum_grad{
    width: 86px;
    height: 19px;
    background-size: 10px 10px;
    background-color: rgba(255, 255, 255, 0.3);
    background-image: linear-gradient(45deg,
           rgba(255, 255, 255, 1) 10%,
           transparent 5%,
           transparent 50%,
           rgba(255, 255, 255, 1) 50%,
           rgba(255, 255, 255, 1) 60%,
           transparent 50%,
           transparent);
    position: absolute;
    top:50px;
    left:70px;
}
.roomname{
    font-size: 24px;
    color: #FFFFFF;
    letter-spacing: 2.51px;
    margin-left: 72px;
}
.right{
    width:50vw;
    display: flex;
    flex-direction:column;
    align-items:flex-end;
}
.menu{
    width:25vw;
    background-color: #FFFFFF;
    margin-top:49px;
    margin-bottom: 119px;
    position: relative;
}
.menu_p{
    position: relative;
    padding: 30px 25px 30px 50px;
}
.menu_p::before{
    content:"";
    position: absolute;
    left:10px;
    width:20px;
    height: 1px;
    border-top: 1px solid #333;
    display: inline-block;
    top: 50%;
    opacity: 0;
    transition: .3s ease;
}
.menu_p:hover::before{
    opacity: 1;
}
.grad{
    width:22vw;
    height:20px;
    background-size: 10px 10px;
    background-color: rgba(255, 255, 255, 0.3);
    background-image: linear-gradient(45deg,
           rgba(255, 255, 255, 1) 10%,
           transparent 5%,
           transparent 50%,
           rgba(255, 255, 255, 1) 50%,
           rgba(255, 255, 255, 1) 60%,
           transparent 50%,
           transparent);
    position: absolute;
    right:0px;

}
.info{
    width:25vw;
    display: flex;
    flex-direction: column;
    margin-left: 34px;
}
.socialIcon{
    /* display: inline; */
    /* width:25vw;    */
    margin-bottom:50px;
}
.icon{
    width:20px;
    height: 20px;
    margin-left: 12px;
}
.list{
    display: flex;
    margin-left: 12px;
    margin-bottom:13px;
}
.icon_2{
    width:20px;
}
.list>p{
    padding-left:11px;
    color:#FFFFFF;
    font-size: 14px;
}
/* room 的 css */
.room_all{
    max-width:1200px;
    margin: auto;
    padding-bottom: 80px;
}
.toppic{
    display: flex;
    margin-bottom: 47px;
}
.toppic_left{
    width:65%;
    height: 596px;
    background-image: url(../images/firstRoom/01.jpeg);
    background-position: center;
    background-size: cover;  
    box-shadow: 0 1px 3px 0 rgba(0,0,0,0.20);
}
.black_logo{
    margin-top: 32px;
    margin-left: 49px;
}
.toppic_right{
    width:35%;
    height: 596px;
    display: flex;
    flex-direction: column;
}
.toppic_rightop{
    background-image: url(../images/firstRoom/02.jpeg);
    background-position: center;
    background-size: cover;  
    height: 50%;
    box-shadow: 0 1px 3px 0 rgba(0,0,0,0.20);
}
.toppic_rightdown{
    background-image: url(../images/firstRoom/03.jpeg);
    background-position: center;
    background-size: cover;  
    height: 50%;
    box-shadow: 0 1px 3px 0 rgba(0,0,0,0.20);
}
.roomContent{
    display: flex;
}
.roomContent_left{
    width:45%;
    padding-left: 20px;
    font-family: NotoSansCJKtc-Light;
    font-size: 14px;
    color: #000000;
    letter-spacing: 1.46px;
    line-height: 31px;
}
.room_title{
   font-size: 36px;
   letter-spacing: 3.76px; 
   margin-bottom: 31px;
}
.room_info{
    width:50%;
    margin-bottom: 15px;
}
.room_note{
    text-align:justify;
    margin-bottom: 15px;
}
.line{
    margin-bottom: 28px;
}
.room_time{
    display: flex;
    justify-content:space-between;
    margin-bottom: 40px;
}
.check_p{
    font-size: 14px;
    color: #000000; 
    letter-spacing: 1.46px;
}
.checktime{
    font-size: 21px;
    color: #000000;
    letter-spacing: 2.19px;
}
.tool{
    background-color:#F0F0F0;
    display: flex;
    flex-wrap:wrap;
    width: 95%;
    margin: auto;
    justify-content:space-around;
    align-items: center;
    padding-top: 50px;
    padding-bottom: 20px;
    padding-left: 20px;
}
.tool li{
    width:33%;
    display: flex;
    margin-bottom: 30px;
}
.tool li img{
    width:20%;
    margin: auto;
}
.tool li p{
    width:80%;
    padding-left:10px;
}
.roomContent_center{
    width:15%;
}
.normal_price{
    font-family: NotoSansCJKtc-Light;
    font-size: 30px;
    color: #000000;
    letter-spacing: 3.13px;
    text-align: right;
    line-height: 27px;
}
.holidayprice{
    font-family: NotoSansCJKtc-Light;
    font-size: 16px;
    color: #000000;
    letter-spacing: 1.67px;
    text-align: right;
    line-height: 27px;
}
.normalweek, .holidayweek{
    font-family: NotoSansCJKtc-Light;
    font-size: 14px;
    color: #6D7278;
    letter-spacing: 1.46px;
    text-align: right;
    line-height: 27px;
}
/* 日曆 */
.roomContent_right{
    width:40%;
    margin-left: 20px;
}
.calendar{
	width:450px;
	height:350px;
	background:#fff;
	box-shadow:0px 1px 1px rgba(0,0,0,0.1);
}
.wrap-list ul{
	width:100%;
	font-family:arial;
	font-weight:bold;
	font-size:14px;
}
.wrap-list ul li{
	width:14.28%;
	height:36px;
	line-height:36px;
	list-style-type:none;
	display:block;
	box-sizing:border-box;
	float:left;
	text-align:center;
}
.lightgrey{
	color:#a8a8a8; /*浅灰色*/
}
.darkgrey{
	color:#565656; /*深灰色*/
}
.green{
	color:#6ac13c; /*绿色*/
}
.greenbox{
	border:1px solid #6ac13c;
	background:#e9f8df; /*浅绿色背景*/
}